aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
blinker
certifi
charset-normalizer
click
distro
et-xmlfile
exceptiongroup
Flask
frozenlist
h11
httpcore
httpx
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
multidict
numpy
openai
openpyxl
pandas
pandas-stubs
pydantic
pydantic_core
pymongo
python-dateutil
python-dotenv
pytz
requests
six
sniffio
tqdm
types-pytz
typing_extensions
tzdata
urllib3==2.2.2
Werkzeug==2.2.3
yarl==1.9.4
zipp==3.19.2
